<!DOCTYPE html>
<html>
<head>
	<title>A D3 map</title>
	<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="data/sandiego.js"></script>
	<script src="data/counties.js"></script>
	<script src="data/rodents.js"></script>
	<script src="data/san-diego.js"></script>
	<script src="data/tracts.js"></script>
	<script src="data/curtracts.js"></script>
	<script src="data/bg.js"></script>
	<script src="data/water.js"></script>
	<script src="data/cbsa.js"></script>
	
</head>
<body>

	<script>
		var width = 960, height = 590;

		var svg = d3.select( "body" )
		  .append( "svg" )
		  .attr( "width", width )
		  .attr( "height", height );

		var albersProjection = d3.geo.albers()
                                        .scale( 30000 )
                                        .rotate( [117.057,0] )
                                        .center( [-0.13, 33.07] )
                                        .translate( [width/2,height/2] );
		var geoPathArea = d3.geo.path()
    						.projection( albersProjection );
		var geoPathCircle = d3.geo.path()
    						.projection( albersProjection )
            				.pointRadius(20);

		// var sanDiegoCounty = svg.append( "g" );
		// sanDiegoCounty.selectAll( "path" )
		// 				.data( curtracts.features )
		// 				.enter()
		// 				.append( "path" )
		// 				.attr( "fill", "#6468AD" )
		// 				.attr( "d", geoPathArea );
		// 				// .style('opacity', .30);
		// var sanDiegoCounty = svg.append( "g" );
		// sanDiegoCounty.selectAll( "path" )
		// 				.data( cbsa.features )
		// 				.enter()
		// 				.append( "path" )
		// 				.attr( "fill", "#6468ad" )
		// 				.attr( "d", geoPathArea )
		// 				 .style('opacity', .50);

		var streets = svg.append( "g" );
		streets.selectAll( "path" )
						.data( curtracts.features )
						.enter()
						.append( "path" )
						.attr( "fill", "#9C9C9C" )
						.attr( "d", geoPathArea )
						.style({'stroke-width': 0.3, 'stroke': '#E0E0E0', 'stroke-linejoin': 'round'});
						// .style('opacity', .33);

		var waterLayer = svg.append( "g" );
		waterLayer.selectAll( "path" )
						.data( water.features )
						.enter()
						.append( "path" )
						.attr( "fill", "#CCCCCC" )
						.attr( "d", geoPathArea )
						.style({'stroke-width': 0.3, 'stroke': '#E0E0E0', 'stroke-linejoin': 'round'})
						// .style('opacity', .33);

		var rodents = svg.append( "g" );
		rodents.selectAll( "path" )
				  .data( rodents_json.features )
				  .enter()
				  .append( "path" )
				  .attr( "fill", "#88FFE5" )
				  //.attr("pointRadius", '10')
				  // .attr( "stroke", "#999" )
				  .attr( "d", geoPathCircle )
				  .style('opacity', .45);
				
	</script>
</body>
</html>